<div class="modal fade" id="add-a-field" tabindex="-1" role="dialog" aria-labelledby="add-a-field-title">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="add-a-field-title">Add a field to <span id="add-a-field-section-name">Lo</span></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="add-field-name">Field Name</label>
          <input type="text" class="form-control" id="add-field-name" placeholder="Field name" required>
        </div>

        <div class="form-group">
          <label for="add-field-name">Choose Property</label>
          <select class="form-control">
            <option>Hostel</option>
            <option>Medical Residency</option>
            <option>Board Certification</option>
            <option>IP Location</option>
            <option>Browser Agent</option>
            <option>Contact Address</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
