<div class="modal fade" id="add-a-section" tabindex="-1" role="dialog" aria-labelledby="add-a-section-title">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="add-a-section-title">Add a section</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="add-section-name">Section Name</label>
          <input type="text" class="form-control" id="add-section-name" placeholder="Section name" required>
        </div>

        <div class="form-group">
          <label for="add-section-name">Order Position</label>
          <div class="row">
            <div class="col-sm-4"><select class="form-control" id="aboveBelow"></select></div>
            <div class="col-sm-8 no-padding-left"><select class="form-control" id="aboveBelowSection"></select></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
