@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@import (less) "../node_modules/react-anything-sortable/sortable.css";

@import "variables.less";

body {
  padding-bottom: 100px;
}

.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical @padding-horizontal (@padding-vertical - 2) @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius;
}

.navbar {
  font-weight: bold;
  font-size: 18px;
  border-width: 0;
  margin: 0;

  .navbar-brand {
    font-size: 32px;

    @media (max-width: @screen-sm-max) {
      display: block;
      float: none;
      text-align: center;
      font-size: 40px;
    }
  }
}

.btn {
  font-weight: bold;
  border-bottom-width: 3px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.text-pointer {
  cursor: pointer;
}

.section-title {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background: lighten(#efefef, 2.5%);
  padding-bottom: 15px;
  margin-left: -20px;
  margin-right: -20px;

  h4 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }

  h5 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;

    &:nth-child(n+2) {
      margin-left: 18px;
      text-transform: uppercase;

      &:not(:last-child) {
        color: #888;
      }
    }
  }
}

.field-name {
  padding: 8px 12px;
  color: #fff;
  background: #79589F;
  border-radius: 4px;

  .fa {
    &:nth-child(n+2) {
      margin-left: 8px;
    }
  }
}

.field {
  margin-top: 20px;
}

.section {
  padding: 20px;
  padding-top: 0;
  border: 2px dashed #aaa;
  border-radius: 4px;

  &:nth-child(n+2) {
    margin-top: 40px;
  }
}

.ui-sortable-item {
  cursor: default!important;
}

.sort-sections, .fa-arrows-alt {
  cursor: move;
}

.nfe {
  padding: 25px;
}

.ui-sortable .ui-sortable-placeholder.visible {
  opacity: .4;
}

.no-padding-left {
  padding-left: 0;
}
